* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
  }
.r{
    background-image: url(79.webp);
}

#header2 {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    margin: 20px;
    background-color: white;
    z-index: 2;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 45px;
  }
  #navend {
    position:fixed;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: white;
  }
  #serachbar2 {
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }
  #header2::after {
    border-top: 1px solid #333;
  }
  
  .searchLogo2 {
    width: 20px;
    display: block;
    margin: 0px -10px 0 10px;
  }
  .city2 {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px ;
    height: 30px;
    align-self: center;
    padding-left: 30px;
    padding-right: 10px;
    width: 300px;
    align-self: flex-start;
  }
  #search2 {
    margin-left: 20px;
    height: 25px;
    width: 250px;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 20px;
  }
  #searchBut2 {
    
    height: 32px;
    margin-left: 80px;
    margin-right: -1px;
    font-weight: bold;
    font-size: 90%;
    color: white;
    background-color: #ff5ab8;
    border: 0;
    border-radius: 5px;
    padding: 1px 20px;
  }
  #searchBut2:hover {
    cursor: pointer;
    background-color: red;
  }
  #log {
    margin-left: 20px;
    height: 32px;
    font-size: 90%;
    font-weight: bold;
    color: white;
    background-color: #ff645a;
    border: 0;
    border-radius: 5px;
    padding: 6px 40px;
  }
  #log:hover {
    cursor: pointer;
  }
  #loc1 {
    position: absolute;
    left: 265px;
    top: 35px;
  }
  #searchlogo {
    position: absolute;
    left: 510px;
    top: 35px;
  }
  #lowerhead {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 10px;
    margin-top: 20px;
    font-style: oblique;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.144) 0px 25px 20px -20px;
    padding-bottom: 10px;
    background-color: white;
  }
  #lowerhead a {
    text-decoration: none;
    margin: 20px;
    color: #333;
  }
  #lowerhead a:hover {
    color: red;
  }
  #mainHeader {
    box-shadow: rgba(0, 0, 0, 0.144) 0px 25px 20px -20px;
    padding-bottom: 10px;
    background-color: white;
  }
  #location2 {
    width: 270px;
    height: 0;
    align-self: flex-start;
    z-index: 1;
    align-content: center;
  }
  .city2 > select {
    width: 180px;
    margin-top: 10px;
  }
  #loc2 {
    width: 20px;
    padding-top: 6px;
    padding-left: 35px;
  }

  #city2 {
    display: flex;
    margin: 0;
    padding: 0px 10px;
  }
  #ReservationForm {
    border: none;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    align-content: center;
    

  }
  #ReservationForm label {
    width: 80%;
    font-size: 18px;
    margin: 5px 0 5px 20px;
    align-self: flex-start;
    font-style: italic;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 6px #000000;
  }
  #ReservationForm input,
  #ReservationForm select {
    width: 70%;
    margin: 5px 0 5px 0;
    height: 32px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 20px;
    margin-top: 5px;
    align-content: center;
    margin-left: 45px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: #000000;
  }
  #ReservationForm select {
    width: 88%;
    height: 35px;
  }
  #reserHead {
    background-color: rgb(255, 42, 202);
    color: rgb(0, 0, 0);
    width: 94%;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 5px;
   
  }
  #reserHead {
    font-size: 24px;
    width: 100%;
    margin: 6px 0 0 0;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }

  #totalGuest {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(194, 187, 187, 0.192);
    width: 80%;
    padding: 0 20px 0 15px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  #totalGuest button {
    width: 20px;
    height: 20px;
    padding: 0 5px;
    text-align: center;
    border: 0.5px solid blue;
    border-radius: 10px;
    margin: 0 5px 0 5px;
  }
  #submitGuestData {
    background-color: white;
    width: 180px ;
  }
  /* payment calender End */
  .sticky {
    position: sticky;

    width: 100%;
  }
  #loginD {
    margin: 2px 0 0 55px;
  }
  #loginD select {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  #loginD i {
    margin: 0 10px 0 -20px;
  }

  .footer {
    font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    justify-content: space-around;
  }
  .footer {
    display: grid;
    width: 100%;
  }
  .footersection {
    margin-top: 50px;
    margin-left: -120px;
  }
  .footer > .box {
    color: #ff5ab8;
    margin-left: 50px;
    font-size: 16px;
  }
  
  .footer > .container > .boxs li {
    cursor: pointer;
    list-style-type: none;
    text-align: justify;
    padding: 8px;
    padding-left: 50px;
    color: #666666;
    font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
  }
  
  .footer > .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
  
  .footer > .container > .boxs {
    column-gap: 50px;
    width: 200px;
    cursor: pointer;
  }
  
  .footersection h4::after {
    content: "";
    display: block;
    width: 25px;
    padding: 1rem 0 0;
    border-bottom: 2px solid #ff5ab8;
  }
  
  ::after {
    box-sizing: border-box;
  }
  
  .footersection hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
  }
  
  .footersection hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top: 1px solid #f3f3f3;
    margin: 50px 0 50px 0;
  }
  
  .footer {
    display: grid;
    width: 100%;
    justify-content: space-around;
  }
  
  .footerr {
    display: grid;
    width: 100%;
    justify-content: space-around;
  }
  
  .footerr > .containerr > .boxs li {
    list-style-type: none;
    text-align: justify;
    padding: 8px;
    color: #666666;
    font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    width: max-content;
  }
  
  .footerr > .containerr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
  
  .footerr > .containerr > .boxs {
    column-gap: 50px;
    width: 200px;
  }
  
  .footerr {
    display: grid;
    width: 100%;
    justify-content: space-around;
  }
  .footerr > .containerr > .boxs h4 {
    color: #ff5ab8;
    margin-left: 50px;
    font-size: 16px;
    cursor: pointer;
  }
  .footerr > .containerr > .boxs ul {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
  }
  .imageF {
    text-align: center;
  }
  .imageF > .footerImg {
    width: 110px;
    height: 60px;
  }
  .imageF > p {
    font-size: 12px;
  }
  .imgMdiv {
    margin: 15px 0 10px 0;
  }
  #restuarant{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px ;
    height: 20px;
    align-self: center;
    padding-left: 30px;
    padding-right: 10px;
    width: 500px;
    align-self: flex-start;
  }
    